{% load static %}
<div class="footer">
    <div class="container">
      <div class="footer-info">
        <div class="left-block">
          <a href="{% url 'index' %}" class="logo">
            <img src="{% static 'images/logo.png' %}" alt="" width="160px" height="130px">
          </a>
          <div class="contact-info">
            <a class="phone" href=”tel:+79998887766”>+7(999)888-77-66</a>
            <a href="" class="email">HCGarage@gmail.com</a>
          </div>
        </div>
        <div class="right-block">
          <a href="" class="social-link"><img src="{% static 'images/icons/vk.png' %}" alt="" width="40px" height="40px"></a>
          <a href="" class="social-link"><img src="{% static 'images/icons/telegram.png' %}" alt="" width="40px" height="40px"></a>
          <a href="" class="social-link"><img src="{% static 'images/icons/whatsapp.png' %}" alt="" width="40px" height="40px"></a>
          <a href="" class="social-link"><img src="{% static 'images/icons/youtube.png' %}" alt="" width="40px" height="40px"></a>
        </div>
      </div>
    </div>
</div>